@use './../../styles/utilities.scss' as u;

.social-container{
    display: flex;
    list-style-type: none;
    gap: 1em;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em 20vw;
    width: 100%;
    justify-content: center;
    @include u.tablet{
        padding: 1em;
    }
    @include u.mobile{
        padding: 0.8em;
        border: none;
        gap: 0.5em;
        position: inherit;
    }
    li{
        border-bottom: 5px solid u.$white;
        margin-top: 5px;
        transition: ease-out .3s;
        &:hover{
            margin-top: 0;
            border-bottom: 10px solid u.$black;
            transition: ease-out .3s;
        }
        @include u.mobile{
            border: none;
        }
        a{
            text-decoration: none;
            color: u.$white;
            transition: 1s;
            svg{
                @include u.mobile{
                    font-size: 30px;
                }
            }
        }
    }
}