@use './../../styles/utilities.scss' as u;

#toggle-container{
    color: u.$white;
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    padding: 0 1em;
    @include u.mobile{
        padding: 0;
        margin: 1em 1em 0 0;
    }
    .button--portfolio{
        display: flex;
        align-items: center;
        background-color: u.$white;
        padding: .5em .5em .5em 0;
        border-radius: 5px;
        box-shadow: inset 0 0 0 0 u.$white;
        color: u.$black;
        transition: ease-out .4s;
        @include u.mobile{
            font-size: .75em;
            padding: 0;
        }
        &:hover{
            color: u.$white;
            box-shadow: inset 180px 0 0 0 u.$black;
            cursor: pointer;
            transition: ease-out .4s;
        }
        p{
            font-family: 'Oswald';
            @include u.mobile{
                display: none;
            }
        }
    }
    svg{
        &:hover{
            cursor: pointer;
        }
    }
}
.inactive{
    display: none;
}
.menu-container{
    animation: fadeInAnimation .4s linear;
    color: u.$white;
    margin: 0 auto;
    @include u.tablet{
        width: 70%;
    }
    @include u.mobile{
        width: 80%;
        margin: 1em auto 4em auto;
    }
    h2{
        border-top: 5px solid u.$white;
        font-family: 'KollektifBold';
        margin: .5em 0 .5em 2em;
        padding-top: .5em;
        animation: fadeInRightBig;
        animation-duration: .5s;
        @include u.tablet{
            margin-left: 4em;
        }
    }
    .projects-container{
        color: u.$white;
        list-style-type: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-start;
        animation: backInRight;
        animation-duration: 1s;
        height: 75vh;
        overflow-y: scroll;
        margin: 2em 0;
        &::-webkit-scrollbar{
            display: none;
        }
        li{
            position: relative;
            border-radius: 5px;
            border: 2px solid u.$red;
            width: 50%;
            height: 400px;
            overflow: hidden;
            &:hover .container-code{
                opacity: 1;
                transition: .3s;
            }
            h3{
                font-family: 'Oswald';
                text-align: center;
                background-color: u.$black;
                padding: .5em;
                color: u.$red;
                border-bottom: 2px solid u.$red;
            }
            img{
                width: 100%;
            }
            .container-code{
                transition: .3s;
                opacity: 0;
                position: absolute;
                bottom: 0;
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;
                width: 100%;
                height: 100%;
                background-color: rgba(10, 10, 10, .75);
                padding: 1em 0;
                p{
                    font-family: "Oswald";
                    width: 100%;
                    height: fit-content;
                    text-align: center;
                    margin: 2em 4em 0 4em;
                    background: u.$black;
                    padding: 0.5em;
                    border-radius: 5px;
                }
                a{
                    color: u.$white;
                    text-decoration: none;
                    padding: .5em;
                    font-family: 'KollektifBold';
                    box-shadow: inset 0 0 0 0 u.$black;
                    transition: ease-out .4s;
                    width: 100px;
                    height: fit-content;
                    text-align: center;
                    border: 2px solid u.$white;
                    background-color: u.$black;
                    &:hover{
                        box-shadow: inset 100px 0 0 0 u.$white;
                        color: u.$black;
                        background-color: u.$black;
                        // border: 2px solid u.$white;
                        transition: ease-out .4s;
                    }
                }
            }
        }
    }
}