@use './../../styles/utilities.scss' as u;

.container-info{
    display: flex;
    align-items: flex-end;
    background-color: rgba(16, 11, 14, 0.9);
    padding: 2em 1em;
    margin-top: 10vh;
    flex-direction: column;
    width: 450px;
    border-left: 10px solid u.$green;
    animation: fadeInAnimation 0.5s linear;
    @include u.mobile{
        margin: 0.5em 1em;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 350px;
    }
    .profile-info{
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-end;
        animation: fadeInLeftBig;
        animation-duration: .5s;
        @include u.mobile{
            align-items: flex-start;
        }
        h1{
            color: u.$green;
            font-size: 3em;
            font-family: 'KollektifBold';
        }
        h2{
            color: u.$white;
            font-size: 1.8em;
            font-family: 'Kollektif';
            border-bottom: 5px solid u.$white;
            padding-bottom: .8em;
        }
        p{
            color: u.$white;
            width: 250px;
            font-family: 'Kollektif';
            line-height: 25px;
            padding: 1em;
            border-bottom: 5px solid u.$white;
            span{
                // border-bottom: 2px solid u.$black;
                color: u.$black;
                padding: .3em .2em;
                background-color: u.$green;
            }
        }
    }
    .container-button{
        border: none;
        padding: 1em 0;
        animation: fadeInRightBig;
        animation-duration: 1s;
        @include u.mobile{
            
        }
        button{
            background-color: u.$white;
            width: 180px;
            color: u.$black;
            border: 1px solid u.$black;
            padding: 1em;
            font-family: 'KollektifBold';
            box-shadow: inset 0 0 0 0 u.$black;
            transition: ease-out .25s;
            &:hover{
                cursor: pointer;
                box-shadow: inset 180px 0 0 0 u.$black;
                color: u.$white;
                border: 1px solid u.$white;
                transition: ease-out .25s;
                // border-radius: 0 20px 0 0;
            }
        }
    }
}