@use './../../styles/utilities.scss' as u;

.container-info{
    display: flex;
    align-items: flex-end;
    @include u.mobile{
        flex-wrap: wrap;
        padding: 0 1em;
    }
    .profile-info{
        display: flex;
        flex-direction: column;
        gap: 1em;
        align-items: flex-end;
        @include u.mobile{
            align-items: flex-start;
        }
        h1{
            color: u.$red;
            font-size: 3em;
            font-family: 'KollektifBold';
        }
        h2{
            color: u.$white;
            font-size: 1.8em;
            font-family: 'Kollektif';
            border-bottom: 10px solid u.$white;
            padding-bottom: .8em;
        }
    }
    .container-button{
        border-bottom: 10px solid u.$white;
        padding: 0 0 .8em 2em;
        @include u.mobile{
            padding: 1em 0;
            border: none;
        }
        button{
            background-color: u.$white;
            width: 180px;
            color: u.$black;
            border: 1px solid u.$black;
            padding: 1em;
            font-family: 'KollektifBold';
            box-shadow: inset 0 0 0 0 u.$black;
            transition: ease-out .25s;
            &:hover{
                cursor: pointer;
                box-shadow: inset 180px 0 0 0 u.$black;
                color: u.$white;
                border: 1px solid u.$white;
                transition: ease-out .25s;
                // border-radius: 0 20px 0 0;
            }
        }
    }
}