@use './styles/utilities.scss' as u;

@font-face {
    font-family: 'Kollektif';
    src: url('./../public/fonts/kollektif-webfont.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KollektifBold';
    src: url('./../public/fonts/kollektif-bold-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: u.$black;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    @include u.tablet{
        width: 90%;
    }
    @include u.mobile{
        width: 100%;
    }
}
.video-bg{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#ball01{
    position: absolute;
    top: 200px;
    z-index: -1;
    animation: fadeInAnimation .8s linear;
}
#ball02{
    position: absolute;
    top: 125px;
    z-index: -1;
    animation: fadeInAnimation .8s linear;
}
#ball03{
    position: absolute;
    // left: 200px;
    bottom: 100px;
    z-index: -1;
    animation: fadeInAnimation .8s linear;
}
#ball04{
    position: absolute;
    transform: rotate(90deg);
    bottom: 30px;
    z-index: -1;
    animation: fadeInAnimation .8s linear;
}

.animate__animated.animate__backInRight{
    animation-duration: 1s;
}